# US State I

In [1]:
import pandas as pd

In [2]:
us = pd.read_csv('usa.states.txt',names=['State'],header=None)
us.head()

        State
0     Alabama
1      Alaska
2     Arizona
3    Arkansas
4  California

In [3]:
dfs = pd.read_html("https://simple.wikipedia.org/wiki/List_of_U.S._state_capitals", match="State capitals of the United States")
df = dfs[0].copy()
df.columns = df.columns.get_level_values(1)

df.head()

,State,Abr.,State-hood,Capital,Capital since,Area (mi²),City,Metropolitan,Rank in state,Rank in US,Notes
0,Alabama,AL,1819,Montgomery,1846,159.8,198218,373903.0,2,119.0,NaN
1,Alaska,AK,1959,Juneau,1906,2716.7,31275,NaN,2,NaN,Largest capital by municipal land area.
2,Arizona,AZ,1912,Phoenix,1889,517.6,1660272,4857962.0,1,5.0,Largest capital by population.
3,Arkansas,AR,1836,Little Rock,1821,116.2,193524,699757.0,1,117.0,NaN
4,California,CA,1850,Sacramento,1854,97.9,508529,2345210.0,6,35.0,Largest capital by population to not be the mo...

In [4]:
us['Capital'] = df.loc[us['State'] == df['State'],'Capital']
us.head()

        State      Capital
0     Alabama   Montgomery
1      Alaska       Juneau
2     Arizona      Phoenix
3    Arkansas  Little Rock
4  California   Sacramento

In [5]:
us.to_csv('usa.states+capitals.csv',index=None)

# US State II

In [6]:
us = pd.read_csv('usa.states.txt',names=['State'],header=None)

In [7]:
us['Letter_count'] = us['State'].str.len()

In [8]:
result1 = pd.DataFrame(columns=['alphabetical_order','letter_count_order','letter_count'])
result1['alphabetical_order'] = us.sort_values(by=['State'])['State']
result1['letter_count_order'] = us.sort_values(by=['Letter_count'],ignore_index=True)['State']
result1['letter_count'] = us.sort_values(by=['Letter_count'],ignore_index=True)['Letter_count']

In [9]:
result1.head()

  alphabetical_order letter_count_order  letter_count
0            Alabama               Utah             4
1             Alaska               Ohio             4
2            Arizona               Iowa             4
3           Arkansas              Texas             5
4         California              Maine             5

In [10]:
result1.to_csv('us_states_order.csv',index=False)

In [11]:
def check_double_sequence(s):
    for i in range(1,len(s)):
        if s[i-1] == s[i]:
            return True
    return False

result2 = us.loc[us['State'].apply(lambda x: check_double_sequence(x)),['State']]
result2

            State
6     Connecticut
10         Hawaii
12       Illinois
20  Massachusetts
22      Minnesota
23    Mississippi
24       Missouri
37   Pennsylvania
41      Tennessee

In [12]:
result2.to_csv('double_sequence_states.csv',index=False)

In [13]:
us_cap = pd.read_csv('usa.states+capitals.csv')
us_cap.head()

        State      Capital
0     Alabama   Montgomery
1      Alaska       Juneau
2     Arizona      Phoenix
3    Arkansas  Little Rock
4  California   Sacramento

In [14]:
result3 = us_cap.loc[us_cap['Capital'].str.len()<10, ['State']].sort_values(by=['State'],ignore_index=True)
result3.to_csv('filter_by_capitals.csv',index=False)